!!! 5
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    title Наша семья Пинза.Ру!
    meta(name='description', content='Сайт семьи Пинзару')
    meta(name='author', content='')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='js/jquery-1.7.1.min.js')
    script(src='js/bootstrap.js')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .wrapper.container
      .logo
        img(src='img/logo.jpg', alt='Пинза.Ру')
      .window

        
