body { 
	padding: 0; 
	margin: 0; 
	background: #e2c6c2; 
	font-size: 15px; 
	line-height: 1.3; 
	font-family: Arial, Helvetica, sans-serif; 
	color: #333333; 
}

.wrapper { background: url("../img/bg.jpg") no-repeat #e2c6c2; min-width: 768px; height: 1000px; overflow-y: hidden; }
.logo { position: relative; top: 38px; left: 348px; height: 128px; width: 312px; padding: 0; margin:0 }
.window { position: relative; background: url("../img/window.jpg") #fff; top: 42px; left: 260px; height: 460px; width: 479px;}

#chat { position: relative; top: 20px; left: 30px; width: 420px;}

#messages {
  height: 310px;
  background: #fff;
}
#messages em {
  text-shadow: 0 1px 0 #fff;
  color: #999;
}
#messages p {
  padding: 0;
  margin: 0;
  font: 12px Helvetica, Arial;
  padding: 5px 10px;
}
#messages p b {
  display: inline-block;
  padding-right: 10px;
}
#messages p:nth-child(even) {
  background: #fafafa;
}
#messages #lines {
  height: 310px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#messages #lines::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#messages #lines::-webkit-scrollbar-button:start:decrement,
#messages #lines ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}
#messages #lines::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}
#messages #lines::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #fff;
  -webkit-border-radius: 3px;
}

#l_message {margin: 0 15px; vertical-align: top; display: inline-block;}
#l_message img {float:left;}
#l_msg {
  background-color: #fcacb9; 
  color: #000; 
  padding: 10px 10px;
  margin: 0 0 10px 58px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

#a_message {margin: 0 15px; vertical-align: top; display: inline-block; float: right;}
#a_message img {float:right;}
#a_msg {
  background-color: #ade0ff; 
  color: #000; 
  padding: 10px 10px;
  margin: 0 61px 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }


#send-message {
  height: 60px;
  margin: 0 10px;
  background: #dfb0a8;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#message {
  border: none;
  margin: 2px 2px;
  height: 26px;
  width: 396px;
  line-height: 26px;
  vertical-align: middle;
  font-family: "lucida grande", sans-serif;
  font-size: 16px;
}
#message:focus {
  outline: 0;
}

#heart, #hellowin, #shop, #garbage, #phone { width: 22px; margin: 3px 5px;}
input#sms {width: 20px; height: 20px; }

#send-message span {font-size: 12px; color: #fff }

#send-message button {
float: right
}
button {
  margin: 0 3px;
  height: 26px;
  width: 90px;
  padding-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #ffddad;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3c56d), color-stop(1, #d18527));
  background: -webkit-linear-gradient(top, #f3c56d 0%, #d18527 100%);
  background: -moz-linear-gradient(top, #f3c56d 0%, #d18527 100%);
  background: linear-gradient(top, #f3c56d 0%, #d18527 100%);
  border: 1px solid #814900;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #785015;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #ecb572;
}
button:hover,
button.hover {
  background: darker;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b96f10), color-stop(1, #814900));
  background: -webkit-linear-gradient(top, #b96f10 0%, #814900 100%);
  background: -moz-linear-gradient(top, #b96f10 0%, #814900 100%);
  background: linear-gradient(top, #b96f10 0%, #814900 100%);
  border: 1px solid #814900;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 -1px 1px #ecb572;
}
button:active,
button.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}
button:focus,
button.focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
}
